#!/usr/bin/make -f

EXT_ID := dihkhgdagigaecpjlbfbiecpocnbeheh

%:
	dh $@

override_dh_auto_build:
	dune build --profile release bin/server/main.exe bin/client/main.exe extension/main.bc.js
	mkdir -p _build/ext-staging/icons
	cp extension/manifest.json extension/popup.html extension/popup.js _build/ext-staging/
	cp _build/default/extension/main.bc.js _build/ext-staging/main.js
	cp extension/icons/* _build/ext-staging/icons/
	cd extension && npx crx3 ../_build/ext-staging \
		--crxPath ../_build/extension.crx --keyPath key.pem

override_dh_auto_test:

override_dh_auto_install:
	install -D -m 755 _build/default/bin/server/main.exe \
		debian/url-router/usr/bin/url-router
	install -D -m 644 debian/url-router.service \
		debian/url-router/usr/lib/systemd/user/url-router.service
	install -D -m 755 _build/default/bin/client/main.exe \
		debian/url-router-client/usr/bin/url-router-client
	install -D -m 644 debian/url_router.json \
		debian/url-router-client/etc/chromium/native-messaging-hosts/url_router.json
	install -D -m 644 debian/url_router.json \
		debian/url-router-client/etc/opt/edge/native-messaging-hosts/url_router.json
	install -D -m 644 _build/extension.crx \
		debian/url-router-client/usr/share/url-router/extension.crx
	install -D -m 644 debian/$(EXT_ID).json \
		debian/url-router-client/usr/share/chromium/extensions/$(EXT_ID).json
	install -D -m 644 debian/$(EXT_ID).json \
		debian/url-router-client/usr/share/google-chrome/extensions/$(EXT_ID).json
	install -D -m 644 debian/$(EXT_ID).json \
		debian/url-router-client/opt/edge/extensions/$(EXT_ID).json
	install -D -m 644 debian/url-router-client.desktop \
		debian/url-router-client/usr/share/applications/url-router-client.desktop
	install -D -m 644 config.example.json \
		debian/url-router/usr/share/doc/url-router/config.example.json

override_dh_auto_clean:
	dune clean
	rm -rf _build/ext-staging _build/extension.crx

override_dh_dwz:
override_dh_strip:
