[Unit]
Description=URL Router daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/url-router
Restart=on-failure

[Install]
WantedBy=default.target
